@model InvoiceManagementSystem.Models.TeacherModel
<br />
<br />

@if (Model.LSTTeacherList != null && Model.LSTTeacherList.Any())
{
<input type="hidden" id="hdnId" value="@Model.Id" />
       }

<div class="main-content position-relative max-height-vh-100 h-100" style="margin-top:-220px">
    <div class="card shadow-lg mx-4 card-profile-bottom">
    </div>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0" style="color:black">
                                <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                                @if (Model.Id > 0)
                                {
                                    <span>Edit Teacher</span>
                                }
                                else
                                {
                                    <span>Add Teacher</span>
                                }
                            </h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <input type="hidden" id="hdnintId" value="" />
                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <div class="avatar avatar-xl position-relative">
                                        @{
                                            string profileImagePath = Model.Id > 0 ? Model.LSTTeacherList[0].ProfileImg : "~/Data/Profile/Image_not_available.png";
                                        }
                                        <img src="@profileImagePath" alt="Profile Image" id="dummyImage" style="cursor: pointer;" />
                                        @Html.TextBoxFor(model => model.LSTTeacherList[0].ProfileImg, new { @id = "ProfileImg", @class = "form-control form-control-alternative", @type = "file", @style = "display: none;" })
                                    </div>
                                </div>
                            </div>*@
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="hidden" id="hdnfile" />
                                    <label for="example-text-input" class="form-control-label">
                                        Profile
                                    </label>
                                    @if (Model.Id > 0)
                                    {
                                        @Html.TextBoxFor(model => model.LSTTeacherList[0].Profile, new { @id = "Profile", @class = "form-control form-control-alternative", @type = "file" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => Model.Profile, new { @id = "Profile", @class = "form-control form-control-alternative", @type = "file" })
                                    }
                                </div>
                                <div class="form-group" id="divFile" style="display:none">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Full Name <span class="text-danger">*</span></label>
                                    @if (Model.Id > 0)
                                    {
                                        @Html.TextBoxFor(model => model.LSTTeacherList[0].FullName, new { @id = "FullName", @placeholder = "Full Name.", @class = "form-control form-control-alternative" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => Model.FullName, new { @id = "FullName", @placeholder = "Full Name.", @class = "form-control form-control-alternative" })
                                    }
                                    <span id="errFullName" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">User Name <span class="text-danger">*</span></label>
                                    @if (Model.Id > 0)
                                    {
                                        @Html.TextBoxFor(model => model.LSTTeacherList[0].UserName, new { @id = "UserName", @placeholder = "User Name.", @class = "form-control form-control-alternative" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => Model.UserName, new { @id = "UserName", @placeholder = "User Name.", @class = "form-control form-control-alternative" })
                                    }
                                    @*<input class="form-control form-control-alternative" type="email" id="UserName" placeholder="Enter Teacher Name">*@
                                    <span id="errUserName" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Gender<span class="text-danger">*</span></label><br />
                                    <div class="form-radio">
                                        <div class="radio radio-outline radio-inline">
                                            <label>
                                                @Html.RadioButtonFor(model => model.Gender, true, new { @id = "Male", @class = "rd" })
                                                <i class="helper"></i>Male

                                                @Html.RadioButtonFor(model => model.Gender, false, new { @id = "Female", @class = "rd" })
                                                <i class="helper"></i>Female

                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Email <span class="text-danger">*</span></label>
                                    @if (Model.Id > 0)
                                    {
                                        @Html.TextBoxFor(model => model.LSTTeacherList[0].Email, new { @id = "Email", @placeholder = "example@gmail.com", @class = "form-control form-control-alternative" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => Model.Email, new { @id = "Email", @placeholder = "example@gmail.com", @class = "form-control form-control-alternative" })
                                    }
                                    @*<input class="form-control form-control-alternative" type="text" id="Email" placeholder="Enter Email">*@
                                    <span id="errEmail" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6" id="Passworddiv">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label" id="labelpass">Password <span class="text-danger">*</span></label>
                                    @if (Model.Id > 0)
                                    {
                                        @Html.PasswordFor(model => model.LSTTeacherList[0].Password, new { @id = "Password", @placeholder = "**********", @class = "form-control form-control-alternative" })
                                    }
                                    else
                                    {
                                        @Html.PasswordFor(model => Model.Password, new { @id = "Password", @placeholder = "**********", @class = "form-control form-control-alternative" })
                                    }
                                    @*<input class="form-control form-control-alternative" type="text" id="Password" placeholder="Enter Password">*@
                                    <span id="errPassword" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Mobile <span class="text-danger">*</span></label>
                                    @if (Model.Id > 0)
                                    {
                                        @Html.TextBoxFor(model => model.LSTTeacherList[0].MobileNo, new { @id = "MobileNo", @placeholder = "8487968118", @class = "form-control form-control-alternative" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => Model.MobileNo, new { @id = "MobileNo", @placeholder = "8487968118", @class = "form-control form-control-alternative" })
                                    }
                                    @*<input class="form-control form-control-alternative" type="text" id="MobileNo" placeholder="Enter Mobile" onkeypress="return isNumber(event);">*@
                                    <span id="errMobile" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="basicinput"><b>Class Room</b><span class="text-danger">*</span></label>
                                    @if (Model.Id > 0)
                                    {
                                        @Html.DropDownListFor(model => model.LSTTeacherList[0].ClassId,
                       new SelectList(Model.LSTTeacherList, "ClassId", "ClassNo"),
                       "Select ClassRoom",
                       new { @class = "form-control form-control-alternative", style = "width: 100%" , @id = "ClassId" })

                                    }
                                    else
                                    {
                                        <select class="form-control form-control-alternative" id="ClassId" name="ClassId" style="width: 100%">
                                            <option value="0">Select ClassRoom</option>
                                            @{ if (Model != null && Model.LSTTeacherList.Count > 0)
                                                {
                                                    for (var i = 0; i < Model.LSTTeacherList.Count; i++)
                                                    {
                                                        var item = Model.LSTTeacherList[i];

                                                        if (item.Id == Model.ClassId)
                                                        {
                                                            <option value="@item.Id" selected>@(item.ClassNo + " (" + item.ClassNo + ")")</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Id">@(item.ClassNo + " (" + item.ClassNo + ")")</option>
                                                        }
                                                    }
                                                } }
                                        </select>
                                    }
                                    <span id="errClassId" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                </div>
                            </div>
                            <div class="col-md-6" id="Dobdiv">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Date Of Birth <span class="text-danger">*</span></label>
                                    @if (Model.Id > 0)
                                    {
                                        @Html.TextBoxFor(model => model.LSTTeacherList[0].Dob, new { @id = "Dob", @placeholder = "Dob", @class = "form-control form-control-alternative", @type = "date" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => Model.Dob, new { @id = "Dob", @placeholder = "Dob", @class = "form-control form-control-alternative", @type = "date" })
                                    }
                                    @*<input class="form-control form-control-alternative floating datetimepicker" type="date" id="Dob" autocomplete="off">*@
                                    <span id="errDob" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Education <span class="text-danger">*</span></label>
                                    @if (Model.Id > 0)
                                    {
                                        @Html.TextBoxFor(model => model.LSTTeacherList[0].Education, new { @id = "Education", @placeholder = "Education.", @class = "form-control form-control-alternative" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => Model.Education, new { @id = "Education", @placeholder = "Education.", @class = "form-control form-control-alternative" })
                                    }
                                    @*<input class="form-control form-control-alternative" type="text" id="Education" placeholder="Enter Education">*@
                                    <span id="errEducation" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Address <span class="text-danger">*</span></label>
                                    @if (Model.Id > 0)
                                    {
                                        @Html.TextBoxFor(model => model.LSTTeacherList[0].Address, new { @id = "Address", @placeholder = "Address", @class = "form-control form-control-alternative" })
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(model => Model.Address, new { @id = "Address", @placeholder = "Address", @class = "form-control form-control-alternative" })
                                    }
                                    @*<textarea class="form-control form-control-alternative" id="Address"></textarea>*@
                                    <span id="errAddress" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                </div>
                            </div>
                            <div class="footer" style="text-align:right">
                                <button class="btn bg-gradient-info btn-sm ms-auto" onclick="javascript: return InsertData();">Save</button>
                                <button type="button" class="btn bg-gradient-dark btn-sm ms-auto" onclick="ClearData(1)">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/School/Teacher.js"></script>
<script>

</script>
