@model InvoiceManagementSystem.Models.TeacherModel
@{
    ViewBag.Title = "Teacher";
}
<br />
<br />
<style>
    .tab-pane {
        display: none;
    }

        .tab-pane.active {
            display: block;
        }
</style>

<div class="row" id="FilterDiv" style="margin-left:19px">
    <div class="col-sm-4 col-md-3" style="margin-top: -32px;">
        <div class="form-group form-focus">
            <label style="color:white">Search</label>
            <input type="text" class="form-control form-control-alternative" id="SearchText" placeholder="Search" maxlength="50">
        </div>
    </div>
    <div class="col-sm-4 col-md-2" style="margin-top: -32px;">
        <div class="form-group form-focus select-focus">
            <label style="color:white">Status</label>
            <select tabindex="1" data-placeholder="Select here.." id="intActive" name="intActive" class="form-control form-control-alternative">
                <option value="3">Select Status</option>
                <option value="1">Active</option>
                <option value="2">In-Active</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4 col-md-2" style="margin-top: -32px;">
        <div class="form-group form-focus">
            <label style="color:white">From Date</label>
            <input class="form-control form-control-alternative" type="date" id="FromDate" autocomplete="off">
        </div>
    </div>
    <div class="col-sm-4 col-md-2" style="margin-top: -32px;">
        <div class="form-group form-focus">
            <label style="color:white">To Date</label>
            <input class="form-control form-control-alternative" type="date" id="ToDate" autocomplete="off">
        </div>
    </div>
    <div class="col-sm-6 col-md-1">

        <a class="btn bg-gradient-info" onclick="GetTeacherList(1)">Search</a>
    </div>

    <div class="col-sm-6 col-md-1">
        <a class="btn bg-gradient-dark" title="Clear" onclick="ClearData(2)"> Clear </a>

    </div>
</div>
<div class="main-content position-relative max-height-vh-100 h-100" style="margin-top:-220px">

    <div class="card shadow-lg mx-4 card-profile-bottom">
        <div class="card-body p-3">
            <div class="row gx-4">
                <div class="col-auto my-auto">
                    <div class="h-100">
                        @if (Model.LSTTeacherList[0].Id > 1)
                        {
                            <h5 class="mb-1">
                                <i class="fas fa-chalkboard-teacher text-info text-lg opacity-10"></i>&nbsp;&nbsp; Edit Teacher
                            </h5>
                        }
                        else
                        {
                            <h5 class="mb-1">
                                <i class="fas fa-chalkboard-teacher text-info text-lg opacity-10"></i>&nbsp;&nbsp; Add Teacher
                            </h5>
                        }
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                    <div class="tabs">
                        <div class="nav-wrapper position-relative end-0">
                            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                                <li class="nav-item" data-tab-id="list-view">
                                    <a class="nav-link mb-0 px-0 py-1 active d-flex align-items-center justify-content-center" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                                        <i class="fa fa-user"></i>
                                        <span class="ms-2">Basic-Details</span>
                                    </a>
                                </li>
                                <li class="nav-item" data-tab-id="grid-view">
                                    <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                                        <i class="fa fa-address-book"></i>
                                        <span class="ms-2">Address Details</span>
                                    </a>
                                </li>
                                <li class="nav-item" data-tab-id="bank-view">
                                    <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                                        <i class="fa fa-bank"></i>
                                        <span class="ms-2">Bank-Details</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div id="list-view" class="tab-pane">
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-4 mb-3">
                            <div class="card-body pb-0">
                                <div class="col-9">
                                    <h5 class="mb-1">
                                        <a href="javascript:;"><i class="fa fa-user"></i> Basic Details</a>
                                    </h5>
                                </div><br />
                                <div class="row">
                                    <input type="hidden" id="hdnintId" value="@Model.LSTTeacherList[0].Id" />
                                    <div class="col-md-6" id="Profilediv">
                                        <div class="form-group">
                                            <div class="form-group" id="divUploadFile" style="display:block">

                                                <label for="example-text-input" class="form-control-label">
                                                    Profile
                                                </label>
                                                <span id="removeButton" onclick="removeImage()" style="color: #100f0f;margin-left: 110px;">x</span>
                                                @if (Model.LSTTeacherList[0].Id > 1)
                                                {
                                                    <div>
                                                        <input type="hidden" id="HiddenfileForImage" value="@Model.LSTTeacherList[0].ProfileImg" />
                                                        @*<input type="file" class="form-control form-control-alternative" name="Profile" id="Profile" accept="image/*" style="display: none;">*@
                                                        @Html.TextBoxFor(model => model.LSTTeacherList[0].Profile, new { @id = "Profile", @class = "form-control form-control-alternative", @type = "file", style = "display: none;" })
                                                        @if (!string.IsNullOrEmpty(Model.LSTTeacherList[0].ProfileImg))
                                                        {
                                                            var item = Model.LSTTeacherList[0];
                                                            <img src="~/Data/Profile/@item.ProfileImg" alt="Profile Image" id="ProfileImg" style="cursor: pointer;margin-left: -2px;height: 156px;width: 168px;margin-bottom: 8px;margin-top: -4px;" width="50" height="50" />
                                                        }
                                                        else
                                                        {
                                                            <img id="ProfileImg" class="gambar" @*src="~/Data/Profile/dummy.jpg"*@ alt="Profile Image" onclick="openFileInput()" style="cursor: pointer;margin-left: -2px;height: 156px;width: 168px;margin-bottom: 8px;margin-top: -4px;" width="50" height="50" />
                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                            <div>
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].Profile, new { @id = "Profile", @class = "form-control form-control-alternative", @type = "file", style = "display: none;", onchange = "displaySelectedImage(this)" })

                                                @if (!string.IsNullOrEmpty(Model.LSTTeacherList[0].ProfileImg))
                                                {
                                                    var item = Model.LSTTeacherList[0];
                                            <img src="~/Data/Profile/@item.ProfileImg" alt="Profile Image" id="ProfileImg" onclick="openFileInput()" style="cursor: pointer;margin-left: -2px;height: 156px;width: 168px;margin-bottom: 8px;margin-top: -4px;" width="50" height="50" /> }
                                        else
                                        {
                                            <img id="ProfileImg" class="gambar" @*src="~/Data/Profile/dummy.jpg"*@ alt="Profile Image" onclick="openFileInput()" style="cursor: pointer;margin-left: -2px;height: 156px;width: 168px;margin-bottom: 8px;margin-top: -4px;" width="50" height="50" />}
                                            </div>
                                                }

                                            </div>
                                            <div class="form-group" id="divFile" style="display:none">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Title <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.DropDownListFor(model => model.LSTTeacherList[0].Title,
                                                 new List<SelectListItem>
                                                 {
                                                     new SelectListItem { Text = "Select Title", Value = "0" },
                                                     new SelectListItem { Text = "Mr.", Value = "Mr.", Selected = Model.LSTTeacherList[0].Title == "Mr." },
                                                     new SelectListItem { Text = "Mrs.", Value = "Mrs.", Selected = Model.LSTTeacherList[0].Title == "Mrs." },
                                                     new SelectListItem { Text = "Miss.", Value = "Miss.", Selected = Model.LSTTeacherList[0].Title == "Miss." }
                                                 },
                                                 new { @id = "Title", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(model => model.LSTTeacherList[0].Title,
                                                 new List<SelectListItem>
                                                 {
                                                     new SelectListItem { Text = "Select Title", Value = "0" },
                                                     new SelectListItem { Text = "Mr.", Value = "Mr." },
                                                     new SelectListItem { Text = "Mrs.", Value = "Mrs."},
                                                     new SelectListItem { Text = "Miss.", Value = "Miss."}
                                                 },
                                                 new { @id = "Title", @class = "form-control form-control-alternative" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="email" id="UserName" placeholder="Enter Teacher Name">*@
                                            <span id="errTitle" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Teacher Name <span class="text-danger">*</span></label>
                                                @if (Model.LSTTeacherList[0].Id > 1)
                                                {
                                                    @Html.TextBoxFor(model => model.LSTTeacherList[0].TeacherName, new { @id = "TeacherName", @placeholder = "Teacher Name.", @class = "form-control form-control-alternative" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => Model.TeacherName, new { @id = "TeacherName", @placeholder = "Teacher Name.", @class = "form-control form-control-alternative" })
                                                }
                                                <span id="errTeacherName" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Father Name <span class="text-danger">*</span></label>
                                                @if (Model.LSTTeacherList[0].Id > 1)
                                                {
                                                    @Html.TextBoxFor(model => model.LSTTeacherList[0].FatherName, new { @id = "FatherName", @placeholder = "Father Name.", @class = "form-control form-control-alternative" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => Model.FatherName, new { @id = "FatherName", @placeholder = "Father Name.", @class = "form-control form-control-alternative" })
                                                }
                                                <span id="errFatherName" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Surname <span class="text-danger">*</span></label>
                                                @if (Model.LSTTeacherList[0].Id > 1)
                                                {
                                                    @Html.TextBoxFor(model => model.LSTTeacherList[0].Surname, new { @id = "Surname", @placeholder = "Surname.", @class = "form-control form-control-alternative" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => Model.Surname, new { @id = "Surname", @placeholder = "Surname.", @class = "form-control form-control-alternative" })
                                                }
                                                <span id="errSurname" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="                                                                                                                                 form-control-label">Gender <span class="text-danger">*</span></label><br />
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.DropDownListFor(model => model.LSTTeacherList[0].Gender,
                                                 new List<SelectListItem>
                                                 {
                                                     new SelectListItem { Text = "Select Gender", Value = "0" },
                                                     new SelectListItem { Text = "Male", Value = "Male", Selected = Model.LSTTeacherList[0].Gender == "Male" },
                                                     new SelectListItem { Text = "Female", Value = "Female", Selected = Model.LSTTeacherList[0].Gender == "Female" },
                                                     new SelectListItem { Text = "Other", Value = "Other", Selected = Model.LSTTeacherList[0].Gender == "Other" }
                                                 },
                                                 new { @id = "Gender", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(model => model.LSTTeacherList[0].Gender,
                                                 new List<SelectListItem>
                                                 {
                                                     new SelectListItem { Text = "Select Title", Value = "0" },
                                                     new SelectListItem { Text = "Male", Value = "Male" },
                                                     new SelectListItem { Text = "Female", Value = "Female"},
                                                     new SelectListItem { Text = "Other", Value = "Other"}
                                                 },
                                                 new { @id = "Gender", @class = "form-control form-control-alternative" })
                                            }
                                            <span id="errGender" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Blood Group <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.DropDownListFor(model => model.LSTTeacherList[0].BloodGroup,
                                                 new List<SelectListItem>
                                                 {
                                                     new SelectListItem { Text = "Select BloodGroup", Value = "0" },
                                                     new SelectListItem { Text = "A+",  Value = "A+",  Selected = Model.LSTTeacherList[0].BloodGroup == "A+" },
                                                     new SelectListItem { Text = "A-",  Value = "A-",  Selected = Model.LSTTeacherList[0].BloodGroup == "A-" },
                                                     new SelectListItem { Text = "B+",  Value = "B+",  Selected = Model.LSTTeacherList[0].BloodGroup == "B+" },
                                                     new SelectListItem { Text = "B-",  Value = "B-",  Selected = Model.LSTTeacherList[0].BloodGroup == "B-" },
                                                     new SelectListItem { Text = "AB+", Value = "AB+", Selected = Model.LSTTeacherList[0].BloodGroup == "AB+" },
                                                     new SelectListItem { Text = "AB-", Value = "AB-", Selected = Model.LSTTeacherList[0].BloodGroup == "AB-" },
                                                     new SelectListItem { Text = "O+",  Value = "O+",  Selected = Model.LSTTeacherList[0].BloodGroup == "O+" },
                                                     new SelectListItem { Text = "O-",  Value = "O-",  Selected = Model.LSTTeacherList[0].BloodGroup == "O-" },
                                                 },
                                                 new { @id = "BloodGroup", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(model => model.LSTTeacherList[0].BloodGroup,
                                                 new List<SelectListItem>
                                                 {
                                                     new SelectListItem { Text = "Select BloodGroup", Value = "0" },
                                                     new SelectListItem { Text = "A+",  Value = "A+"},
                                                     new SelectListItem { Text = "A-",  Value = "A-"},
                                                     new SelectListItem { Text = "B+",  Value = "B+"},
                                                     new SelectListItem { Text = "B-",  Value = "B-"},
                                                     new SelectListItem { Text = "AB+", Value = "AB+"},
                                                     new SelectListItem { Text = "AB-", Value = "AB-"},
                                                     new SelectListItem { Text = "O+",  Value = "O+"},
                                                     new SelectListItem { Text = "O-",  Value = "O-"},
                                                 },
                                                 new { @id = "BloodGroup", @class = "form-control form-control-alternative" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="email" id="UserName" placeholder="Enter Teacher Name">*@
                                            <span id="errBloodGroup" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Birth Date <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].Dob, new { @id = "Dob", @placeholder = "Dob", @class = "form-control form-control-alternative", @type = "date" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.Dob, new { @id = "Dob", @placeholder = "Dob", @class = "form-control form-control-alternative", @type = "date" })
                                            }
                                            @*<input class="form-control form-control-alternative floating datetimepicker" type="date" id="Dob" autocomplete="off">*@
                                            <span id="errDob" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Email <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].Email, new { @id = "Email", @placeholder = "example@gmail.com", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.Email, new { @id = "Email", @placeholder = "example@gmail.com", @class = "form-control form-control-alternative" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="text" id="Email" placeholder="Enter Email">*@
                                            <span id="errEmail" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4" id="Passworddiv">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label" id="labelpass">Password <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.PasswordFor(model => model.LSTTeacherList[0].Password, new { @id = "Password", @placeholder = "**********", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.PasswordFor(model => Model.Password, new { @id = "Password", @placeholder = "**********", @class = "form-control form-control-alternative" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="text" id="Password" placeholder="Enter Password">*@
                                            <span id="errPassword" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Mobile <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].MobileNo, new { @id = "MobileNo", @placeholder = "8487968118", @class = "form-control form-control-alternative", @maxlength = 10, @onkeypress = "return onlyNumbers(event)" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.MobileNo, new { @id = "MobileNo", @placeholder = "8487968118", @class = "form-control form-control-alternative", @maxlength = 10, @onkeypress = "return onlyNumbers(event)" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="text" id="MobileNo" placeholder="Enter Mobile" onkeypress="return isNumber(event);">*@
                                            <span id="errMobile" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Alternate Mobile <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].AlternateMobileNo, new { @id = "AlternateMobileNo", @placeholder = "8487968118", @class = "form-control form-control-alternative", @maxlength = 10, @onkeypress = "return onlyNumbers(event)" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.AlternateMobileNo, new { @id = "AlternateMobileNo", @placeholder = "8487968118", @class = "form-control form-control-alternative", @maxlength = 10, @onkeypress = "return onlyNumbers(event)" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="text" id="MobileNo" placeholder="Enter Mobile" onkeypress="return isNumber(event);">*@
                                            <span id="errAlternateMobileNo" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Date Of Joining <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].DateOfJoining, new { @id = "DateOfJoining", @placeholder = "Dob", @class = "form-control form-control-alternative", @type = "date" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.DateOfJoining, new { @id = "DateOfJoining", @placeholder = "Dob", @class = "form-control form-control-alternative", @type = "date" })
                                            }
                                            @*<input class="form-control form-control-alternative floating datetimepicker" type="date" id="Dob" autocomplete="off">*@
                                            <span id="errDateOfJoining" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="display:none">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Date Of Leaving <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].DateOfLeaving, new { @id = "DateOfLeaving", @placeholder = "Dob", @class = "form-control form-control-alternative", @type = "date" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.DateOfLeaving, new { @id = "DateOfLeaving", @placeholder = "Dob", @class = "form-control form-control-alternative", @type = "date" })
                                            }
                                            @*<input class="form-control form-control-alternative floating datetimepicker" type="date" id="Dob" autocomplete="off">*@
                                            <span id="errDateOfLeaving" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" id="ClassRoomdiv">
                                        <div class="form-group">
                                            <label for="basicinput"><b>Assign Class</b><span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                <input type="hidden" id="hdnClassId" value="@Model.LSTTeacherList[0].ClassId" />
                                                <select class="form-control form-control-alternative @(Model.LSTTeacherList[0].Id > 1 ? "" : "form-control-alternative")" id="ClassId">
                                                    <option value="0">Select ClassRoom</option>
                                                    @foreach (var classItem in Model.LSTTeacherList)
                                                    {
                                                        <option value="@classItem.ClassId" @(classItem.ClassId == Model.LSTTeacherList[0].ClassId ? "selected" : "")>@classItem.ClassId</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                @*<select class="form-control form-control-alternative" id="ClassId">
                                                    <option value="0">Select ClassRoom</option>
                                                </select>*@
                                                <select class="form-control form-control-alternative" id="ClassId" name="ClassId" style="width: 100%">
                                                       <option value="0">Select ClassRoom</option>
                                                       @{ if (Model != null && Model.LSTTeacherList.Count > 0)
                                                           {
                                                               for (var i = 0; i < Model.LSTTeacherList.Count; i++)
                                                               {
                                                                   var item = Model.LSTTeacherList[i];

                                                                   if (item.Id == Model.ClassId)
                                                                   {
                                                                       <option value="@item.Id" selected>@(item.ClassNo + " (" + item.ClassNo + ")")</option>
                                                                   }
                                                                   else
                                                                   {
                                                                       <option value="@item.Id">@(item.ClassNo + " (" + item.ClassNo + ")")</option>
                                                                   }
                                                               }
                                                           } }
                                                    </select>
                                                @*@Html.DropDownListFor(model => model.ClassId,
                                                    new SelectList(Model.LSTTeacherList, "Id", "ClassNo"),
                                                    "Select ClassRoom",
                                                    new { @class = "form-control form-control-alternative", @style = "width: 100%" })*@

                                            }
                                            <span id="errClassId" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Qualification <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].Education, new { @id = "Education", @placeholder = "Education.", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.Education, new { @id = "Education", @placeholder = "Education.", @class = "form-control form-control-alternative" })
                                            }
                                            <span id="errEducation" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Marital Status<span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.DropDownListFor(model => model.LSTTeacherList[0].MaritalStatus,
                                                new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text = "Select MaritalStatus", Value = "0" },
                                                    new SelectListItem { Text = "Single", Value = "Single", Selected = Model.LSTTeacherList[0].MaritalStatus == "Single" },
                                                    new SelectListItem { Text = "Engaged", Value = "Engaged", Selected = Model.LSTTeacherList[0].MaritalStatus == "Engaged" },
                                                    new SelectListItem { Text = "Married", Value = "Married", Selected = Model.LSTTeacherList[0].MaritalStatus == "Married" },
                                                },
                                                new { @id = "MaritalStatus", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(model => model.LSTTeacherList[0].MaritalStatus,
                                                new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text = "Select MaritalStatus", Value = "0" },
                                                    new SelectListItem { Text = "Single", Value = "Single"},
                                                    new SelectListItem { Text = "Engaged", Value = "Engaged"},
                                                    new SelectListItem { Text = "Married", Value = "Married"},
                                                },
                                                new { @id = "MaritalStatus", @class = "form-control form-control-alternative" })
                                            }
                                            <span id="errMaritalStatus" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Annivarsary Date <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].AnniversaryDate, new { @id = "AnniversaryDate", @placeholder = "dd/mm/yyyy", @class = "form-control form-control-alternative", @type = "date" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.AnniversaryDate, new { @id = "AnniversaryDate", @placeholder = "dd/mm/yyyy", @class = "form-control form-control-alternative", @type = "date" })
                                            }
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Work Experience <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].Experience, new { @id = "Experience", @placeholder = "Experience", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.Experience, new { @id = "Experience", @placeholder = "Experience", @class = "form-control form-control-alternative" })
                                            }
                                            <span id="errExperience" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>

                                    <div class="footer" style="text-align:right">
                                        <button class="btn bg-gradient-info btn-sm ms-auto" onclick="javascript: return ValidateBasicDetails(0);">Next</button>
                                        <button type="button" class="btn bg-gradient-dark btn-sm ms-auto" onclick="ClearData(1)">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div id="grid-view" class="tab-pane">
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-4 mb-3">
                            <div class="card-body pb-0">
                                <div class="col-9">
                                    <h5 class="mb-1">
                                        <a href="javascript:void(0)"> <i class="fa fa-address-book"></i>  Address Details</a>
                                    </h5>
                                </div><br />
                                <div class="row">
                                    @*<div class="col-9">
                                            <h6 class="mb-1">
                                                <a style="color: seagreen; text-decoration: underline"> <i class="fa fa-address-book"></i>  Current Address</a>
                                            </h6>
                                        </div>
                                        <br />
                                        <br />*@
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Current Address <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].CurrentAddress, new { @id = "CurrentAddress", @placeholder = "Current Address.", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.CurrentAddress, new { @id = "CurrentAddress", @placeholder = "Current Address.", @class = "form-control form-control-alternative" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="email" id="UserName" placeholder="Enter Teacher Name">*@
                                            <span id="errCurrentAddress" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Current Pincode<span class="text-danger">*</span></label>
                                                @if (Model.LSTTeacherList[0].Id > 1)
                                                {
                                                    @Html.TextBoxFor(model => model.LSTTeacherList[0].CurrentPincode, new { @id = "CurrentPincode", @placeholder = "Current Pincode.", @class = "form-control form-control-alternative" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => Model.CurrentPincode, new { @id = "CurrentPincode", @placeholder = "Current Pincode.", @class = "form-control form-control-alternative" })
                                                }
                                                <span id="errCurrentPincode" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Current City<span class="text-danger">*</span></label>
                                                @if (Model.LSTTeacherList[0].Id > 1)
                                                {
                                                    @Html.TextBoxFor(model => model.LSTTeacherList[0].CurrentCity, new { @id = "CurrentCity", @placeholder = "Current City.", @class = "form-control form-control-alternative" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => Model.CurrentCity, new { @id = "CurrentCity", @placeholder = "Current City.", @class = "form-control form-control-alternative" })
                                                }
                                                @*<input class="form-control form-control-alternative" type="email" id="UserName" placeholder="Enter Teacher Name">*@
                                                <span id="errCurrentCity" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Current State <span class="text-danger">*</span></label>
                                                @if (Model.LSTTeacherList[0].Id > 1)
                                                {
                                                    @Html.TextBoxFor(model => model.LSTTeacherList[0].CurrentState, new { @id = "CurrentState", @placeholder = "Current State", @class = "form-control form-control-alternative" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => Model.CurrentState, new { @id = "CurrentState", @placeholder = "Current State", @class = "form-control form-control-alternative" })
                                                }
                                                @*<input class="form-control form-control-alternative" type="text" id="Email" placeholder="Enter Email">*@
                                                <span id="errCurrentState" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-9">
                                        <label class="mb-1" style="font-size:14px">
                                            <input type="checkbox" id="sameAsAbove" />  Same as Above
                                        </label>
                                    </div><br /><br />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Permenant Address <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].PermenantAddress, new { @id = "PermenantAddress", @placeholder = "Permenant Address.", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.PermenantAddress, new { @id = "PermenantAddress", @placeholder = "Permenant Address.", @class = "form-control form-control-alternative" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="email" id="UserName" placeholder="Enter Teacher Name">*@
                                            <span id="errPermenantAddress" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Permenant Pincode<span class="text-danger">*</span></label>
                                                @if (Model.LSTTeacherList[0].Id > 1)
                                                {
                                                    @Html.TextBoxFor(model => model.LSTTeacherList[0].PermenantPincode, new { @id = "PermenantPincode", @placeholder = "Permenant Pincode.", @class = "form-control form-control-alternative" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => Model.PermenantPincode, new { @id = "PermenantPincode", @placeholder = "Permenant Pincode.", @class = "form-control form-control-alternative" })
                                                }
                                                <span id="errPermenantPincode" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Permenant City<span class="text-danger">*</span></label>
                                                @if (Model.LSTTeacherList[0].Id > 1)
                                                {
                                                    @Html.TextBoxFor(model => model.LSTTeacherList[0].PermenantCity, new { @id = "PermenantCity", @placeholder = "Permenant City.", @class = "form-control form-control-alternative" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => Model.PermenantCity, new { @id = "PermenantCity", @placeholder = "Permenant City.", @class = "form-control form-control-alternative" })
                                                }
                                                @*<input class="form-control form-control-alternative" type="email" id="UserName" placeholder="Enter Teacher Name">*@
                                                <span id="errPermenantCity" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Permenant State <span class="text-danger">*</span></label>
                                                @if (Model.LSTTeacherList[0].Id > 1)
                                                {
                                                    @Html.TextBoxFor(model => model.LSTTeacherList[0].PermenantState, new { @id = "PermenantState", @placeholder = "Permenant State", @class = "form-control form-control-alternative" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => Model.PermenantState, new { @id = "PermenantState", @placeholder = "Permenant State", @class = "form-control form-control-alternative" })
                                                }
                                                @*<input class="form-control form-control-alternative" type="text" id="Email" placeholder="Enter Email">*@
                                                <span id="errPermenantState" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer" style="text-align:right">
                                        <button class="btn bg-gradient-secondary btn-sm  js-btn-prev" onclick="ValidateBasicDetails(1);">Prev</button>
                                        <button class="btn bg-gradient-info btn-sm  ms-auto" onclick="ValidateAddressDetails(0);">Next</button>
                                        <button type="button" class="btn bg-gradient-dark btn-sm ms-auto" onclick="ClearData(1)">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="bank-view" class="tab-pane">
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-4 mb-3">
                            <div class="card-body pb-0">
                                <div class="col-9">
                                    <h5 class="mb-1">
                                        <a href="javascript:;"><i class="fa fa-bank"></i>  Bank Details</a>
                                    </h5>
                                </div><br />
                                <div class="row">


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Bank Name <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].BankName, new { @id = "BankName", @placeholder = "Bank Name.", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.BankName, new { @id = "BankName", @placeholder = "Bank Name.", @class = "form-control form-control-alternative" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="text" id="Education" placeholder="Enter Education">*@
                                            <span id="errBankName" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Bank Branch <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].BankBranch, new { @id = "BankBranch", @placeholder = "Bank Branch.", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.BankBranch, new { @id = "BankBranch", @placeholder = "Bank Branch.", @class = "form-control form-control-alternative" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="text" id="Education" placeholder="Enter Education">*@
                                            <span id="errBankBranch" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Account No <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].AccountNo, new { @id = "AccountNo", @placeholder = "Account No.", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.AccountNo, new { @id = "AccountNo", @placeholder = "Account No.", @class = "form-control form-control-alternative" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="text" id="Education" placeholder="Enter Education">*@
                                            <span id="errAccountNo" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">IFSC Code <span class="text-danger">*</span></label>
                                            @if (Model.LSTTeacherList[0].Id > 1)
                                            {
                                                @Html.TextBoxFor(model => model.LSTTeacherList[0].IFSCCode, new { @id = "IFSCCode", @placeholder = "IFSC Code.", @class = "form-control form-control-alternative" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => Model.IFSCCode, new { @id = "IFSCCode", @placeholder = "IFSC Code.", @class = "form-control form-control-alternative" })
                                            }
                                            @*<input class="form-control form-control-alternative" type="text" id="Education" placeholder="Enter Education">*@
                                            <span id="errIFSCCode" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>

                                    <div class="footer" style="text-align:right">
                                        <button class="btn bg-gradient-secondary btn-sm  js-btn-prev" onclick="ValidateAddressDetails(1);">Prev</button>
                                        @if (Model.LSTTeacherList[0].Id > 1)
                                        {
                                            <button class="btn bg-gradient-info btn-sm ms-auto" onclick="InsertData(@Model.LSTTeacherList[0].Id);">Finish</button>
                                        }
                                        else
                                        {
                                            <button class="btn bg-gradient-info btn-sm ms-auto" onclick="InsertData(0);">Finish</button>
                                        }
                                        <button type="button" class="btn bg-gradient-dark btn-sm ms-auto" onclick="ClearData(1)">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/School/Teacher.js"></script>
<script>
    var type = 1

    function ShowFilter() {
        if (type == 1) {
            $('#FilterDiv').show();
            type = 2;
        }
        else {
            $('#FilterDiv').hide();
            type = 1;
        }
    }
</script>
