@model InvoiceManagementSystem.Models.FeesModel
@{
    ViewBag.Title = "Fees Collection";
}
<br />
<br />
<style>
    .tab-pane {
        display: none;
    }

        .tab-pane.active {
            display: block;
        }
</style>


<div class="main-content position-relative max-height-vh-100 h-100 mt-0 mb-1">
    <div class="container-fluid py-4">
        @using (Html.BeginForm("FeesCollection", "FeesCollection", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="row">
                                <h5 class="mb-1">
                                    <i class="fas fa-chalkboard-Student text-info text-lg opacity-10"></i><i class="fa fa-inr text-success text-lg opacity-10" aria-hidden="true"></i>&nbsp; Manage Fees Collection
                                </h5><br /><br />
                                @*<input type="hidden" id="hdnintId" value="@Model.LSTFeesList[0].Id" />*@
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="basicinput"><b>Class</b><span class="text-danger">*</span></label>
                                        @*@if (Model.LSTFeesList[0].Id > 1)
                                            {
                                                <input type="hidden" id="hdnClassId" value="@Model.LSTFeesList[0].ClassId" />
                                                <select class="form-control form-control-alternative @(Model.LSTFeesList[0].Id > 1 ? "" : "form-control-alternative")" id="ClassId" onchange="onClass()">
                                                    <option value="0">Select ClassRoom</option>
                                                    @foreach (var classItem in Model.LSTFeesList)
                                                    {
                                                        <option value="@classItem.ClassNo" @(classItem.ClassId == Model.LSTFeesList[0].ClassId ? "selected" : "")>@classItem.ClassNo</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {*@
                                        <select class="form-control form-control-alternative" id="ClassId" name="ClassId" style="width: 100%" onchange="onClass()">
                                            <option value="0">Select ClassRoom</option>
                                            @{ if (Model != null && Model.LSTFeesList != null)
                                                {
                                                    for (var i = 0; i < Model.LSTFeesList.Count; i++)
                                                    {
                                                        var item = Model.LSTFeesList[i];

                                                        if (item.Id == Model.ClassId)
                                                        {
                                                            <option value="@item.ClassId" selected>@(item.ClassNo)</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.ClassId">@(item.ClassNo)</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                        @*}*@
                                        <span id="errClass" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="basicinput"><b>Section</b><span class="text-danger">*</span></label>
                                        @*@if (Model.LSTFeesList[0].Id > 1)
                                            {*@
                                        @*<input type="hidden" id="hdnSectionId" value="@Model.LSTFeesList[0].SectionId" />
                                            <select class="form-control form-control-alternative @(Model.LSTFeesList[0].Id > 1 ? "" : "form-control-alternative")" id="SectionId" onchange="onClassSection()">
                                                <option value="0">Select Section</option>
                                                @foreach (var sectionItem in Model.LSTFeesList)
                                                {
                                                    <option value="@sectionItem.SectionNo" @(sectionItem.SectionId == Model.LSTFeesList[0].SectionId ? "selected" : "")>@sectionItem.SectionNo</option>
                                                }
                                            </select>*@
                                        @*}
                                            else
                                            {*@
                                        <select class="form-control form-control-alternative" id="SectionId" name="SectionId" style="width: 100%" onchange="onClassSection()">
                                            <option value="0">Select Section</option>
                                            @{ if (Model != null && Model.LSTFeesList != null)
                                                {
                                                    for (var i = 0; i < Model.LSTFeesList.Count; i++)
                                                    {
                                                        var item = Model.LSTFeesList[i];

                                                        if (item.Id == Model.SectionId)
                                                        {
                                                            <option value="@item.SectionId" selected>@(item.SectionNo)</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.SectionId">@(item.SectionNo)</option>
                                                        }
                                                    }
                                                } }
                                        </select>
                                        @*}*@
                                        <span id="errSection" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="basicinput"><b>Student</b><span class="text-danger">*</span></label>
                                        @*@if (Model.LSTFeesList[0].Id > 1)
                                            {*@
                                        @*<input type="hidden" id="hdnStudentId" value="@Model.LSTFeesList[0].StudentId" />
                                            <select class="form-control form-control-alternative @(Model.LSTFeesList[0].Id > 1 ? "" : "form-control-alternative")" id="StudentId" onchange="onStudent()">
                                                <option value="0">Select Student</option>
                                                @foreach (var studentItem in Model.LSTFeesList)
                                                {
                                                    <option value="@studentItem.StudentName" @(studentItem.StudentId == Model.LSTFeesList[0].StudentId ? "selected" : "")>@studentItem.StudentName</option>
                                                }
                                            </select>*@
                                        @*}
                                            else
                                            {*@
                                        <select class="form-control form-control-alternative" id="StudentId" name="StudentId" style="width: 100%" onchange="onStudent()">
                                            <option value="0">Select Student</option>
                                            @{ if (Model != null && Model.LSTFeesList != null)
                                                {
                                                    for (var i = 0; i < Model.LSTFeesList.Count; i++)
                                                    {
                                                        var item = Model.LSTFeesList[i];

                                                        if (item.Id == Model.StudentId)
                                                        {
                                                            <option value="@item.StudentId" selected>@(item.StudentName)</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.StudentId">@(item.StudentName)</option>
                                                        }
                                                    }
                                                } }
                                        </select>
                                        @*}*@
                                        <span id="errStudent" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Roll No<span class="text-danger">*</span></label>
                                            @*@if (Model.LSTFeesList[0].Id > 1)
                                                {*@
                                            @*@Html.TextBoxFor(model => model.LSTFeesList[0].RollNo, new { @id = "RollNo", @placeholder = "Roll No.", @class = "form-control form-control-alternative" })*@
                                            @*}
                                                else
                                                {*@
                                            <span class="form-control" id="RollNo" name="RollNo"></span>
                                            @*@Html.TextBoxFor(model => Model.RollNo, new { @id = "RollNo", @placeholder = "Roll No.", @class = "form-control form-control-alternative" })*@
                                            @*}*@
                                            <span id="errRollNo" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Date <span class="text-danger">*</span></label>
                                            @if (Model != null && Model.LSTFeesList != null)
                                            {
                                                <input id="Date" name="Date" value="@Model.LSTFeesList[0].Date" class="form-control form-control-alternative" type="date">
                                                @*@Html.TextBoxFor(model => Model.Date, new { @id = "Date", @placeholder = "Date", @class = "form-control form-control-alternative", @type = "date" })*@

                                            }
                                            else
                                            {
                                                <input id="Date" name="Date" class="form-control form-control-alternative" type="date">
                                            }
                                            <span id="errDate" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table align-items-center mb-0">
                                                <thead>
                                                    <tr style="background: linear-gradient(to right, #15282e, #4890b1) !important;">
                                                        <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">#</th>
                                                        <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">Month</th>
                                                        <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">Academic Year</th>
                                                        <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">Amount</th>
                                                        <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="mb-4">
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="wrapper">
                                            <div class="AddMore" id="AddMore">
                                                @if (Model.LSTFeesList != null && Model.LSTFeesList != null)
                                                {
                                                    var i = 1;

                                                    for (int j = 0; j < Model.LSTFeesList.Count; j++)
                                                    {
                                                        <input type="hidden" id="inthdnCurrentQty_0" name="CurrentQty">

                                                        <div class="element" id="element_@i" style="float: left; width: 100%;margin-bottom: 5px;padding: 2px;">
                                                            <div class="col-md-1" style=" float: left; text-align: center; width: 11%;">
                                                                <span class="crcel">@i</span>
                                                            </div>

                                                            <div class="col-md-4" style="float: left;padding-left: 105px;">
                                                                @if (Model.Id > 0)
                                                                {
                                                                    <input type="hidden" class="MonthId" id="hdnMonthId_@j" value="@Model.LSTMonthList[j].Id" />
                                                                    <select class="js-example-basic-single floating" id="MonthId_@j" name="MonthId" style="width: 65%">
                                                                        <option value="0">Select Month</option>
                                                                    </select>
                                                                    <span id="errorMonth" class="text-xs font-weight-bold mb-0" style="color:red;"></span>
                                                                }
                                                            </div>
                                                            <div class="col-md-4" style="float: left; margin-left: -35px">
                                                                <input type="hidden" class="AcademicYearId" id="hdnAcademicYearId_@j" value="@Model.LSTAcademicYearList[j].AcademicYearId" />
                                                                <select class="js-example-basic-single floating" id="AcademicYearId_@j" name="AcademicYearId" style="width: 65%">
                                                                    <option value="0">Select Academic Year</option>
                                                                </select>
                                                                <span id="errorAcademicYear" class="text-xs font-weight-bold mb-0" style="color:red;"></span>
                                                            </div>
                                                            <div class="col-md-2" style="float: left; width: 22%; margin-left: -73px;">
                                                                @if (Model.Id > 0)
                                                                {
                                                                    <input id="FeesAmount" name="FeesAmount" value="@Model.LSTFeesList[j].FeesAmount" class="form-control form-control-alternative count" type="text" placeholder="Enter Amount" onkeypress="return onlyNumbers(event)">
                                                                }
                                                                else
                                                                {
                                                                    <input id="FeesAmount" name="FeesAmount" class="form-control form-control-alternative count" type="text" placeholder="Enter Amount">
                                                                }
                                                                <span id="errorFeesAmount" class="text-xs font-weight-bold mb-0" style="color:red;"></span>
                                                            </div>
                                                        </div> i++;
                                                    }
                                                }
                                                else
                                                {

                                                    <div class="element" id="element_1" style="float: left; width: 100%; margin-bottom: 5px; padding: 2px;">
                                                        <div class="col-md-12">
                                                            <span name="errDetail" class="valid-er" style="text-align: center;font-size: 14px;"></span>
                                                        </div>
                                                        <div class="col-md-1" style=" float: left; color:black;text-align: center; width:11%;">
                                                            <span class="crcel">1</span>
                                                        </div>
                                                        <div class="col-md-4" style="float: left; padding-left: 20px">

                                                            <select class="form-control" id="MonthId_0" name="MonthId" style="width:65%">
                                                                <option value="0">Select Month</option>
                                                            </select>
                                                            <span name="errorMonth" class="text-xs font-weight-bold mb-0" style="color:red"></span>
                                                        </div>
                                                        <div class="col-md-4" style="float: left; margin-left: -70px">
                                                            <select class="form-control" id="AcademicYearId_0" name="AcademicYearId" style="width:65%">
                                                                <option value="0">Select Academic Year</option>
                                                            </select>
                                                            <span name="errorAcademicYear" class="text-xs font-weight-bold mb-0" style="color:red;"></span>
                                                        </div>
                                                        <div class="col-md-2" style="float: left; width: 22%; margin-left: -73px;">
                                                            <input id="FeesAmount_0" name="FeesAmount" class="form-control count" type="text" maxlength="5" placeholder="Enter Amount" onkeypress="return onlyNumbers(event)">
                                                            <span name="errFeesAmount" class="text-xs font-weight-bold mb-0" style="color:red;"></span>
                                                        </div>
                                                        <div class="col-md-1" style="float: right;margin-right:27px">
                                                            <i class="fa fa-plus text-success i-plus" style="font-size: 25px;" onclick="addDiv('AddMore', this)"></i>
                                                        </div>
                                                    </div>}
                                            </div>
                                            <div class="results"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="footer" style="text-align:right">
                                    <button class="btn bg-gradient-info btn-sm ms-auto" id="btnAdd" onclick="javascript: return InsertData();">Save</button>
                                    <button type="button" class="btn bg-gradient-dark btn-sm ms-auto" onclick="ClearData()">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/School/FeesCollections.js"></script>
<script>
    var type = 1

    function ShowFilter() {
        if (type == 1) {
            $('#FilterDiv').show();
            type = 2;
        }
        else {
            $('#FilterDiv').hide();
            type = 1;
        }
    }
</script>
