@model InvoiceManagementSystem.Models.ClassRoomModel

<table class="table align-items-center mb-0" id="ClassRoom1">
    <thead>
        <tr>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-20" style="text-align:center">Sr No.</th>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-20" style="text-align:center">Name</th>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-20" style="text-align:center">Status</th>
        </tr>
    </thead>
    @if (Model != null && Model.LSTClassRoomList.Count > 0)
    {
        int no = 0;
        <tbody id="ClassRoomList">

            @for (var i = 0; i < Model.LSTClassRoomList.Count; i++)
            {
                no = no + 1;
                var item = Model.LSTClassRoomList[i];
                <tr>
                    <td>
                        <p class="text-xs font-weight-bold mb-0" style="text-align: center; color: white">@no</p>
                        @*<p class="text-xs text-secondary mb-0">Organization</p>*@
                    </td>

                    <td>
                        <a href="javascript:void(0);" onclick="GetTeacherDataByClassRoom(@item.Id)">
                             <h5 class="text-xs font-weight-bold mb-0" style="text-align: center; color: #0ad1e4; text-decoration: underline">@item.ClassNo</h5>
                        </a>
                    </td>
                    
                    <td>
                        <p style="text-align:center;color: white" class="text-xs font-weight-bold mb-0"><i class="fa fa-dot-circle-o text-success"></i> Active</p>
                    </td>
                </tr>
            }
        </tbody>
 }
    else
    {
        <tr>
            <td colspan="7">
                <p class="text-xs font-weight-bold mb-0" style="text-align: center;"><b>No Record Found</b></p>
                @*<h5 style="text-align: center;"><b>No Record Found</b></h5>*@
            </td>
        </tr>
       }
</table>
<div class="quotation-body">
    <div class="row">
        <div class="col-lg-6 paddinglr8px">
        </div>
    </div>
    <div class="col-lg-12" style="bottom: 13px;">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">

            @if (Model != null && Model.LSTClassRoomList != null && Model.LSTClassRoomList.Count > 0)
            {

                var start = (Model.LSTClassRoomList[0].PageIndex - 1) * Model.LSTClassRoomList[0].PageSize + 1;
                var end = Model.LSTClassRoomList[0].PageSize;

                if (Model.LSTClassRoomList[0].PageSize < Model.LSTClassRoomList[0].TotalRecord)
                {
                    end = Model.LSTClassRoomList[0].PageSize * Model.LSTClassRoomList[0].PageIndex;
                    if (end > Model.LSTClassRoomList[0].TotalRecord)
                    {
                        end = Model.LSTClassRoomList[0].TotalRecord;
                    }
                }
                else
                {
                    end = Model.LSTClassRoomList[0].TotalRecord;
                }
                <span id="spnTotalRecords" class="dataTables_info" Department="status" aria-live="polite" style="padding: 52px 27px 10px 18px; float: left; color: white;font-size:13px">Showing @start to @end of @Model.LSTClassRoomList[0].TotalRecord  entries</span>}

            <div id="divPagination">
                @if (Model.LSTClassRoomList != null && Model.LSTClassRoomList.Count > 0)
                {
                    var pager = Model.Pager;
                    if (pager != null)
                    {
                        if (pager.EndPage >= 1)
                        {
                            <ol class="pagination" style="float:right;margin-top:-15px;margin-bottom:-5px;">
                                @if (pager.CurrentPage > 1)
                                {
                                    <li class="paginate_button previous page-item">
                                        <a onclick="GetClassRoom(@pager.CurrentPage-1)" class="page-link" style=" cursor: pointer; font-size: 11px; margin-top: 40px;"><i class="fas fa-angle-left"></i></a>&nbsp;
                                    </li>
                                }
                                @for (var page1 = pager.StartPage; page1 <= pager.EndPage; page1++)
                                {
                                    if (@page1 == @pager.CurrentPage)
                                    {
                                        <li class="paginate_button page-item active">
                                            <a onclick="GetClassRoom(@page1)" style=" cursor: pointer; font-size: 11px; margin-top: 40px;" aria-controls="datatable-default" data-dt-idx="2" tabindex="0" class="page-link bg-gradient-info"><span style="color:white">@page1</span></a>&nbsp;
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button page-item">
                                            <a onclick="GetClassRoom(@page1)" style=" cursor: pointer; font-size: 11px; margin-top: 40px;" class="page-link">@page1</a>&nbsp;
                                        </li>
                                    }
                                }
                                @if (pager.CurrentPage < pager.TotalPages)
                                {
                                    <li class="paginate_button page-item">
                                        <a onclick="GetClassRoom(@pager.CurrentPage + 1)" style=" cursor: pointer; font-size: 11px; margin-top: 40px; float: left" class="page-link"><i class="fas fa-angle-right"></i></a>
                                    </li>
                                }
                            </ol>}
                    }
                }
            </div>
        </div>
    </div>
</div>
