@model InvoiceManagementSystem.Models.TeacherModel
@{
    int no = 0;
}
<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">Sr No.</th>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">Profile</th>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">Full Name</th>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">User Name</th>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">Email</th>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">Mobile</th>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">Dob</th>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7" style="text-align:center">Gender</th>
            <th class="text-uppercase text-white text-xxs font-weight-bolder opacity-7 ps-2" style="text-align:center">Status</th>
        </tr>
    </thead>
    @if (Model != null && Model.LSTTeacherList.Count > 0)
    {
        <tbody id="tblBody">
            @for (var i = 0; i < Model.LSTTeacherList.Count; i++)
            {
                var item = Model.LSTTeacherList[i];
                no = no + 1;
                string SrNo = (no >= 1 && no <= 9) ? $"0{no}" : no.ToString();
                <tr>
                    <td>
                        <p class="text-xs font-weight-bold mb-0" style="text-align: center; color: white">@SrNo</p>
                        @*
                            <p class="text-xs text-secondary mb-0">Organization</p>
                        *@
                    </td>
                    @if (item.ProfileImg == null || item.ProfileImg == "")
                    {
                        <td> <img src="~/Data/Profile/noimage.jpg" width="50" height="50" /></td>
                    }
                    else
                    {
                        <td style="text-align:center"><img src="/Data/Profile/@item.ProfileImg" width="50" height="50"></td>
                    }
                    <td>
                        <p class="text-xs font-weight-bold mb-0" style="text-align: center; color: white">@item.UserName</p>
                    </td>

                    <td>
                        <p class="text-xs font-weight-bold mb-0" style="text-align: center; color: white">@item.UserName</p>
                    </td>

                    <td>
                        <p class="text-xs font-weight-bold mb-0" style="text-align: center; color: white">@item.Email</p>
                    </td>

                    <td>
                        <p class="text-xs font-weight-bold mb-0" style="text-align: center; color: white">@item.MobileNo</p>
                    </td>

                    <td>
                        <p class="text-xs font-weight-bold mb-0" style="text-align: center; color: white">@item.Dob</p>
                    </td>

                    @if (item.Gender == false)
                    {
                        <td>
                            <p class="text-xs font-weight-bold mb-0" style="text-align: center; color: white">Male</p>
                        </td>
                    }
                    else
                    {
                        <td>
                            <p class="text-xs font-weight-bold mb-0" style="text-align: center; color: white">Female</p>
                        </td>
                    }
                    <td>
                        <a style="text-align: center; color: white" class="text-xs font-weight-bold mb-0"><i class="fa fa-dot-circle-o text-success"></i> Active</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tr>
            <td colspan="7">
                <p class="text-xs font-weight-bold mb-0" style="text-align: center; color: white"><b>No Record Found</b></p>
                @*
                    <h5 style="text-align: center;"><b>No Record Found</b></h5>
                *@
            </td>
        </tr>
    }
</table>
<div class="quotation-body">
    <div class="row">
        <div class="col-lg-6 paddinglr8px">
        </div>
    </div>
    <div class="col-lg-12" style="bottom: 13px;">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
            @if (Model != null && Model.LSTTeacherList != null && Model.LSTTeacherList.Count > 0)
            {
                var start = (Model.LSTTeacherList[0].PageIndex - 1) * Model.LSTTeacherList[0].PageSize + 1;
                var end = Model.LSTTeacherList[0].PageSize;
                if (Model.LSTTeacherList[0].PageSize < Model.LSTTeacherList[0].TotalRecord)
                {
                    end = Model.LSTTeacherList[0].PageSize * Model.LSTTeacherList[0].PageIndex;
                    if (end > Model.LSTTeacherList[0].TotalRecord)
                    {
                        end = Model.LSTTeacherList[0].TotalRecord;
                    }
                }
                else
                {
                    end = Model.LSTTeacherList[0].TotalRecord;
                }
                <span id="spnTotalRecords" class="dataTables_info" Department="status" aria-live="polite" style="padding: 52px 27px 10px 18px; float: left; color: white;font-size:13px">Showing @start to @end of @Model.LSTTeacherList[0].TotalRecord  entries</span>}
            <div id="divPagination">
                @if (Model.LSTTeacherList != null && Model.LSTTeacherList.Count > 0)
                {
                    var pager = Model.Pager;
                    if (pager != null)
                    {
                        if (pager.EndPage >= 1)
                        {
                            <ol class="pagination" style="float:right;margin-top:-15px;margin-bottom:-5px;">
                                @if (pager.CurrentPage > 1)
                                {
                                    <li class="paginate_button previous page-item">
                                        <a onclick="GetTeacherList(@pager.CurrentPage-1)" class="page-link" style=" cursor: pointer; font-size: 11px; margin-top: 40px;"><i class="fas fa-angle-left"></i></a>&nbsp;
                                    </li>
                                }
                                @for (var page1 = pager.StartPage; page1 <= pager.EndPage; page1++)
                                {
                                    if (@page1 == @pager.CurrentPage)
                                    {
                                        <li class="paginate_button page-item active">
                                            <a onclick="GetTeacherList(@page1)" style=" cursor: pointer; font-size: 11px; margin-top: 40px;" aria-controls="datatable-default" data-dt-idx="2" tabindex="0" class="page-link bg-gradient-info"><span style="color:white">@page1</span></a>&nbsp;
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button page-item">
                                            <a onclick="GetTeacherList(@page1)" style=" cursor: pointer; font-size: 11px; margin-top: 40px;" class="page-link">@page1</a>&nbsp;
                                        </li>
                                    }
                                }
                                @if (pager.CurrentPage < pager.TotalPages)
                                {
                                    <li class="paginate_button page-item">
                                        <a onclick="GetTeacherList(@pager.CurrentPage + 1)" style=" cursor: pointer; font-size: 11px; margin-top: 40px; float: left" class="page-link"><i class="fas fa-angle-right"></i></a>
                                    </li>
                                }
                            </ol>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>