@model IEnumerable<InvoiceManagementSystem.Models.ClassRoomModel>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Response)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageIndex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRecord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROWNUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalEntries)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowingEntries)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fromEntries)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Response)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageIndex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalRecord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROWNUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalEntries)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowingEntries)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fromEntries)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
