@model InvoiceManagementSystem.Models.LeaveModel
@{ int no = 0; }
<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align:center">Sr No.</th>
            @if (InvoiceManagementSystem.Models.SessionModel.RoleId == 1)
            {
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align:center">Teacher</th>
            }
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align:center">From Date</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align:center">To Date</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align:center">No Of Days</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align:center">Leave Type</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align:center">Reason</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align:center">Status</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
        </tr>
    </thead>
    @if (Model != null && Model.LSTLeaveList.Count > 0)
    {
        <tbody id="tblBody">
            @for (var i = 0; i < Model.LSTLeaveList.Count; i++)
            {
                var item = Model.LSTLeaveList[i];
                no = no + 1;
                string SrNo = (no >= 1 && no <= 9) ? $"0{no}" : no.ToString();
            <tr>
                <td>
                    <p class="text-xs font-weight-bold mb-0" style="text-align: center;"><b>@SrNo</b></p>
                </td>
                @if (InvoiceManagementSystem.Models.SessionModel.RoleId == 1)
                {
                    <td>
                        <p class="text-xs font-weight-bold mb-0" style="text-align: center;">@item.TeacherName</p>
                    </td>
                }
                <td>
                    <p class="text-xs font-weight-bold mb-0" style="text-align: center;">@item.FromDate</p>
                </td>
                <td>
                    <p class="text-xs font-weight-bold mb-0" style="text-align: center;">@item.ToDate</p>
                </td>
                <td>
                    <p class="text-xs font-weight-bold mb-0" style="text-align: center;">@item.NoOfDays</p>
                </td>
                <td>
                    <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                            @if (item.LeaveType == 1)
                            {
                            <p class="text-xs font-weight-bold mb-0" style="text-align: center;">Half Day</p>
                            }
                            else
                            {
                        <p class="text-xs font-weight-bold mb-0" style="text-align: center;">Full Day</p>
                            }
                        </div>
                    </div>
                </td>
                <td>
                    <p class="text-xs font-weight-bold mb-0" style="text-align: center;">@item.Reason</p>
                </td>
                <td>
                    <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                            @if (item.Status == 0)
                            {
                                <p class="text-xs font-weight-bold mb-0" style="text-align: center;color:cornflowerblue"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<b>Pending</b></p>
                            }
                            else if (item.Status == 1)
                            {
                                <p class="text-xs font-weight-bold mb-0" style="text-align: center;color:forestgreen"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<b>Approve</b></p>
                            }
                            else if (item.Status == 2)
                            {
                                <p class="text-xs font-weight-bold mb-0" style="text-align: center;color:red"><i class="fa fa-close" aria-hidden="true"></i>&nbsp;<b>Reject</b></p>
                            }
                        </div>
                    </div>
                </td>
                <td class="align-middle text-center"style="text-align: center">
                    <div class="dropdown">
                        <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                            <i class="fa fa-ellipsis-v me-sm-1 text-black-50" style="font-size:13px" aria-hidden="true"></i>
                        </a>
                        @if (InvoiceManagementSystem.Models.SessionModel.RoleId == 1)
                        {
                            <div class="dropdown-content" style="top: 6px; right: 8px;width:100px">
                                @if (item.Status == 0)
                                {
                                    <a class="dropdown-item" style="font-size:14px;padding-top:6px;padding-right: 25px" data-bs-toggle="modal" data-bs-target="#status" onclick="openstatusModel(@item.Id)">&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true" style="color:black">&nbsp;&nbsp;Status</i></a>}
                                @if (item.Status == 1)
                                {
                                    <a class="dropdown-item" style="font-size:14px;padding-top:6px;padding-right: 25px" data-bs-toggle="modal" data-bs-target="#status" onclick="openstatusModel(@item.Id)">&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true" style="color:black">&nbsp;&nbsp;Status</i></a>}
                                @if (item.Status == 2)
                                {
                                    <a class="dropdown-item" style="font-size:14px;padding-top:6px;padding-right: 25px" data-bs-toggle="modal" data-bs-target="#status" onclick="openstatusModel(@item.Id)">&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true" style="color:black">&nbsp;&nbsp;Status</i></a>}
                                <a href="javascript:;" style="font-size: 14px;padding-top:1px;padding-right:25px" data-bs-toggle="modal" data-bs-target="#delete_TeacherAttandence" onclick="opendeleteModel(@item.Id);">&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true" style="color: black">&nbsp;&nbsp;Delete</i></a>
                            </div>
                        }
                        else
                        {
                            <div class="dropdown-content" style="top: 6px; right: 8px;width:100px">
                                <a href="javascript:;" style="font-size: 14px;padding-top:1px;padding-right:25px" data-bs-toggle="modal" data-bs-target="#delete_Leave" onclick="opendeleteModel(@item.Id);">&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true" style="color: black">&nbsp;&nbsp;Delete</i></a>
                            </div>
                        }
                    </div>
                </td>
            </tr>
            }
        </tbody>
    }
    else
    {
        <tr>
            <td colspan="7">
                <p class="text-xs font-weight-bold mb-0" style="text-align: center;"><b>No Record Found</b></p>
                @*
                    <h5 style="text-align: center;"><b>No Record Found</b></h5>
                *@
            </td>
        </tr>
    }
</table>
<div class="quotation-body">
    <div class="row">
        <div class="col-lg-6 paddinglr8px">
        </div>
    </div>
    <div class="col-lg-12" style="bottom: 13px;">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-default_paginate">
            @if (Model != null && Model.LSTLeaveList != null && Model.LSTLeaveList.Count > 0)
            {
                var start = (Model.LSTLeaveList[0].PageIndex - 1) * Model.LSTLeaveList[0].PageSize + 1;
                var end = Model.LSTLeaveList[0].PageSize;
                if (Model.LSTLeaveList[0].PageSize < Model.LSTLeaveList[0].TotalRecord)
                {
                    end = Model.LSTLeaveList[0].PageSize * Model.LSTLeaveList[0].PageIndex;
                    if (end > Model.LSTLeaveList[0].TotalRecord)
                    {
                        end = Model.LSTLeaveList[0].TotalRecord;
                    }
                }
                else
                {
                    end = Model.LSTLeaveList[0].TotalRecord;
                }
                <span id="spnTotalRecords" class="dataTables_info" Department="status" aria-live="polite" style="padding: 52px 27px 10px 18px; float: left; color: black;font-size:13px">Showing @start to @end of @Model.LSTLeaveList[0].TotalRecord  entries</span>}
            <div id="divPagination">
                @if (Model.LSTLeaveList != null && Model.LSTLeaveList.Count > 0)
                {
                    var pager = Model.Pager;
                    if (pager != null)
                    {
                        if (pager.EndPage >= 1)
                        {
                            <ol class="pagination" style="float:right;margin-top:-15px;margin-bottom:-5px;">
                                @if (pager.CurrentPage > 1)
                                {
                                    <li class="paginate_button previous page-item">
                                        <a onclick="GetTeacherAttandenceList(@pager.CurrentPage-1)" class="page-link" style=" cursor: pointer; font-size: 11px; margin-top: 40px;"><i class="fas fa-angle-left"></i></a>&nbsp;
                                    </li>
                                }
                                @for (var page1 = pager.StartPage; page1 <= pager.EndPage; page1++)
                                {
                                    if (@page1 == @pager.CurrentPage)
                                    {
                                        <li class="paginate_button page-item active">
                                            <a onclick="GetTeacherAttandenceList(@page1)" style=" cursor: pointer; font-size: 11px; margin-top: 40px;" aria-controls="datatable-default" data-dt-idx="2" tabindex="0" class="page-link bg-gradient-info"><span style="color:white">@page1</span></a>&nbsp;
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button page-item">
                                            <a onclick="GetTeacherAttandenceList(@page1)" style=" cursor: pointer; font-size: 11px; margin-top: 40px;" class="page-link">@page1</a>&nbsp;
                                        </li>
                                    }
                                }
                                @if (pager.CurrentPage < pager.TotalPages)
                                {
                                    <li class="paginate_button page-item">
                                        <a onclick="GetTeacherAttandenceList(@pager.CurrentPage + 1)" style=" cursor: pointer; font-size: 11px; margin-top: 40px; float: left" class="page-link"><i class="fas fa-angle-right"></i></a>
                                    </li>
                                }
                            </ol>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>